################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/NatalieRekai_Lab5
/leetgrind.dll
/SmartLockTest/obj
/.vs/ProjectEvaluation
/.vs*
